body {
  background-image: url(img/bliss.jpg);
  font-family: Tahoma;
}
.main-window {
  align-self: center;
  width: 400px;
  height: 360px;
  background-color: rgb(236, 233, 216);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#app-ico {
  width: 20px;
  height: 20px;
}
.title-bar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-image: linear-gradient(
    #77ccff,
    #0469ec,
    #0469ec,
    #0469ec,
    #0569ff,
    #0569ff,
    #0569ff
  );
  box-shadow: inset 0px 0px 4px 1px #002195;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.title-bar-left-side {
  display: flex;
  align-items: center;
}
.title-text {
  text-shadow: 1px 1px 0px black;
}
.control-button,
.control-button:disabled:hover,
.control-button:disabled {
  width: 24px;
  height: 24px;
  border: solid 1px white;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 15px;
  background-image: linear-gradient(to bottom right, #55a1ff, #0025b5);
  box-shadow: inset 3px 1px 3px 0px #77a1f5;
  font-weight: 700;
  font-stretch: expanded;
}

.control-button:hover {
  background-image: linear-gradient(to bottom right, #75c1ff, #2045d5);
  box-shadow: inset 0px 0px 5px 5px #9bb5eb;
}
.control-button:active {
  background-image: linear-gradient(to bottom right, #55a1cf, #0025b5);
  box-shadow: inset 0px 0px 5px 5px #5781d5;
}
.control-button:disabled:hover,
.control-button:disabled {
  color: lightgray;
  background-color: gray;
}

#close-btn {
  background-image: linear-gradient(to bottom right, #c97475, #ff3010);
  box-shadow: inset 3px 1px 3px 0px #c49a9b;
}

#close-btn:hover {
  background-image: linear-gradient(to bottom right, #e99495, #ff5030);
  box-shadow: inset 0px 0px 5px 5px #c49a9b;
}
#close-btn:active {
  background-image: linear-gradient(to bottom right, #e97475, #ff3010);
  box-shadow: inset 0px 0px 5px 5px #c4848b;
}
.main-area {
  display: flex;
  justify-content: space-between;
}
.rect {
  width: auto;
  height: 312px;
  display: block;
}
.left-side-line {
  /* display: block; */
  height: 321px;
  width: 5px;
  background: linear-gradient(
    to right,
    rgba(0, 51, 215, 101),
    rgba(24, 103, 245, 128),
    rgba(0, 51, 215, 101)
  );
}
.bottom-side-line {
  height: 5px;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(4, 29, 86, 42),
    rgba(0, 22, 151, 71),
    rgba(0, 29, 168, 78),
    rgba(0, 56, 213, 100),
    rgba(12, 60, 180, 90)
  );
}
.right-side-line {
  height: 321px;
  width: 5px;
  background: linear-gradient(
    to right,
    rgba(4, 29, 86, 42),
    rgba(0, 22, 151, 71),
    rgba(0, 29, 168, 78),
    rgba(0, 56, 213, 100),
    rgba(12, 60, 180, 90)
  );
}
.work-area {
  width: 95%;
  display: block;
}
.menu-bar,
.display,
.buttons {
  width: 100%;
}
.display {
  display: flex;
  justify-content: center;
}
.menu-bar {
  display: flex;
  justify-content: left;
}
.menu-bar > button {
  width: 50px;
  height: 22px;
  border: 0;
  /* border-radius: 0; */
  background-color: rgb(236, 233, 216);
  margin: 1px;
}
.menu-bar > button:hover {
  background-color: rgb(246, 243, 226);
  box-shadow: 1px 1px 0px 0px grey;
}
.menu-bar > button:active {
  box-shadow: inset 1px 1px 0 0 gray;
  background-color: rgb(226, 223, 206);
}
#text {
  width: 93%;
}
input[type="text"] {
  text-align: right;
}
.buttons {
  display: flex;
  justify-content: left;
}
.buttons button {
  width: 50px;
  height: 40px;
  margin: 5px 10px;
  border-radius: 5px;
  border: solid 1px darkblue;
}
.memory-buttons {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.memory-buttons > button {
  color: red;
}
.memory-buttons > #square {
  width: 32px;
  height: 32px;
  border: inset 2px;
  margin: 7px 10px 7px;

}
.main-block button {
  margin: 5px;
}
.wide-buttons > button {
  width: 85px;
  color: red;
}
.digit-buttons {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 40px 40px 40px 40px;
  grid-gap: 10px;
}
.digit-buttons button {
  color: darkblue;
}
