body {
    background-color: #323232;
    color: rgb(207, 205, 205);
    font-family: "Roboto";
    padding-left: 350px;
    padding-right: 550px;  
}
h1 {
    text-align: center;
}
h4 {
    text-align: right;
}
p {
    text-align: justify;
    font-size: 14pt;
}
ol {
    list-style-type: upper-roman;
}

.nesting-lvl-1 {
    list-style-type: circle;
}
.nesting-lvl-2 {
    list-style-type: "- ";
}

.padd-200px {
    padding-left: 200px;
}
.padd-150px {
    padding-left: 150px;
}
.thead td, th {
    border: 1px solid #c59939;
    background-color: #c59939;
    color: white;
    font-weight: 700;
    font-size: .9em;
    text-align: center;
}
table {
    width: 100%;
}
table td, th  {
    border: 1px solid #c59939;
    padding: 5px 10px;
}
.row {
    color: #fff;
    font-size: .9em;
    text-align: center;
}
figure {
    text-align: center;
    font-style: italic;
}
a {
    color: rgb(216, 142, 5);
}
a:hover, a:visited:hover {
    color: #ffd900
}
a:visited {
    color: rgb(218, 58, 1);
}
div {
    border: solid 1px;
    margin: 32px;
}