@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body {
    font-family: 'Josefin Sans';
}

textarea {
    resize: none;
    width: 500px;
    height: 300px;
}

fieldset {
    width: 500px;
}

.EULA {
    width: 520px;
    height: 300px;
    border: solid 1px;
    overflow: scroll;
    text-align: justify;
}
div {
    margin: 25px;
}